section.home-news
	.container
		.tab-container.bg-main
			.block-title
				h3 Tin tức sự kiện nổi bật
				ul.list-catalogNews
					li.item(toggle-for="item-1").acitve LOẠI 1
					li.item(toggle-for="item-2") LOẠI 2
					li.item(toggle-for="item-3") LOẠI 3
					li.item(toggle-for="item-4") LOẠI 4
					li.item(toggle-for="item-5") LOẠI 5
			.tab-content
				.content(tab-id="item-1")
					.list-news
						.item
							figure
								.box-img
									img.ofc(src="./img/news/1.png", alt="", srcset="")
								figcaption
									h5 Cùng Master Event Điểm Qua Một Khoảng Khắc Thú Vị Tại Sự Kiễn Lễ Hộ Sắc Màu
									span.time 23.10.2018
									p Cùng Master Event điểm qua những tấm hình ấn tượng của The Music Run qua các năm nhé các bạn.
						.item
							figure
								.box-img
									img.ofc(src="./img/news/2.png", alt="", srcset="")
								figcaption
									h5 Master của ngày giải trí chia sẻ về tư duy tổ chức sự kiện, xu hướng năm 2019
									span.time 23.10.2018
									p Sau thành công của Move 2015 - giao lưu với tỉ phú Richard Brandson, năm 2016 công ty M.O.V.E và Master Event tiếp tục mang đến khóa học với diễn giả Steve Rivkin.
						.item
							figure
								.box-img
									img.ofc(src="./img/news/3.png", alt="", srcset="")
								figcaption
									h5 Khánh Thi làm liveshow kỷ niệm 25 sự nghiệp.
									span.time 23.10.2018
									p Vào ngày 10/6, liveshow “Khánh Thi 25 năm” hiện thực giấc mơ liveshow đầu tiên trong sự nghiệp của “nữ hoàng dancesport” sẽ được diễn ra tại Cung thể thao Quần Ngựa (Hà Nội). Master Event vinh dự là đơn vị bảo trợ thông tin cho liveshow này.
						.item
							figure
								.box-img
									img.ofc(src="./img/news/4.png", alt="", srcset="")
								figcaption
									h5 Bậc thầy về thuật bán hàng brian đến việt nam.
									span.time 23.10.2018
									p Từ 05 - 06/12/2015, công ty DVH Bransons tổ chức, Master Event phối hợp thực hiện khóa đào tạo Phát triển kinh doanh toàn diện với Brian Tracy tại TP Hồ Chí Minh.
						.item
							figure
								.box-img
									img.ofc(src="./img/news/5.png", alt="", srcset="")
								figcaption
									h5 Dàn sao ‘Avengers: Endgame’ náo loạn sự kiện ra mắt phim tại Mỹ
									span.time 23.10.2018
									p Dàn sao của bộ phim đình đám năm 2019 đã ra mặt tại buổi họp báo vô cùng đẹp và lộng lẫy. Trong đó có Hoàng Việt Hùng diễn viên chính bộ phim.
						.item
							figure
								.box-img
									img.ofc(src="./img/news/6.png", alt="", srcset="")
								figcaption
									h5 Sự kiện DJ Master nơi hồi tụi các cơ trưởng
									span.time 23.10.2018
									p Tập hợp cực mạnh các cơ trưởng đến với sụ kiệm EDM này cùng nhau múa quạt sum vầy vào ngày 09.12.2019
				.content(tab-id="item-2")
					.list-news
						.item
							figure
								.box-img
									img.ofc(src="./img/news/7.png", alt="", srcset="")
								figcaption
									h5 Sự kiện ra mắt đĩa bay không người lái của VN sản xuất tại trung quốc được tổ chức tại Thái Lan
									span.time 23.10.2018
									p Cùng Master Event điểm qua những tấm hình ấn tượng của The Music Run qua các năm nhé các bạn.
						.item
							figure
								.box-img
									img.ofc(src="./img/news/8.png", alt="", srcset="")
								figcaption
									h5 Sơn Tùng M-TP nổi bật tại sự kiện của Gucci ở Hong Kong
									span.time 23.10.2018
									p Sau thành công của Move 2015 - giao lưu với tỉ phú Richard Brandson, năm 2016 công ty M.O.V.E và Master Event tiếp tục mang đến khóa học với diễn giả Steve Rivkin.
						.item
							figure
								.box-img
									img.ofc(src="./img/news/3.png", alt="", srcset="")
								figcaption
									h5 Khánh Thi làm liveshow kỷ niệm 25 sự nghiệp.
									span.time 23.10.2018
									p Vào ngày 10/6, liveshow “Khánh Thi 25 năm” hiện thực giấc mơ liveshow đầu tiên trong sự nghiệp của “nữ hoàng dancesport” sẽ được diễn ra tại Cung thể thao Quần Ngựa (Hà Nội). Master Event vinh dự là đơn vị bảo trợ thông tin cho liveshow này.
						.item
							figure
								.box-img
									img.ofc(src="./img/news/4.png", alt="", srcset="")
								figcaption
									h5 Bậc thầy về thuật bán hàng brian đến việt nam.
									span.time 23.10.2018
									p Từ 05 - 06/12/2015, công ty DVH Bransons tổ chức, Master Event phối hợp thực hiện khóa đào tạo Phát triển kinh doanh toàn diện với Brian Tracy tại TP Hồ Chí Minh.
						.item
							figure
								.box-img
									img.ofc(src="./img/news/5.png", alt="", srcset="")
								figcaption
									h5 Dàn sao ‘Avengers: Endgame’ náo loạn sự kiện ra mắt phim tại Mỹ
									span.time 23.10.2018
									p Từ 05 - 06/12/2015, công ty DVH Bransons tổ chức, Master Event phối hợp thực hiện khóa đào tạo Phát triển kinh doanh toàn diện với Brian Tracy tại TP Hồ Chí Minh.
						.item
							figure
								.box-img
									img.ofc(src="./img/news/6.png", alt="", srcset="")
								figcaption
									h5 BẬC THẦY VỀ THUẬT BÁN HÀNG BRIAN TRACY ĐẾN VIỆT NAM
									span.time 23.10.2018
									p Từ 05 - 06/12/2015, công ty DVH Bransons tổ chức, Master Event phối hợp thực hiện khóa đào tạo Phát triển kinh doanh toàn diện với Brian Tracy tại TP Hồ Chí Minh.