header {
	position   : fixed;
	display    : flex;
	flex-wrap  : wrap;
	width      : 100%;
	top        : 0;
	padding    : 30px 0px;
	z-index    : 100;
	align-items: center;
	transition : .2s all ease-in-out;

	&.active {
		background: #1a1d1e;
	}

	.left-menu {
		padding-right: 15px;
		padding-left : 15px;
		display      : flex;
		flex         : 0 0 33.333%;

		.logo {
			img {
				width: 35px;
			}
		}
	}

	.add-event {
		position : absolute;
		left     : 50%;
		top      : 50%;
		transform: translate(-50%, -50%);

		a {
			display    : flex;
			align-items: center;

			svg {
				width       : 24px;
				margin-right: 10px;

				path,
				circle {
					stroke: $main-color-1;
				}
			}
		}

		span {
			font-family   : 'Anton', sans-serif;
			color         : $main-color-3;
			font-size     : 20px;
			letter-spacing: 2px;
		}
	}

	.button-login {
		padding-right: 15px;
		padding-left : 15px;
		margin-left  : auto;

		a {
			display    : flex;
			align-items: center;

			svg {
				margin-right: 10px;

				g {
					transition: .3s all ease-in-out;
				}
			}

			span {
				font-family   : 'Anton', sans-serif;
				color         : $main-color-3;
				font-size     : 20px;
				letter-spacing: 2px;
			}
		}

		&:hover {
			svg {
				g {
					stroke: $main-color-1;
				}
			}
		}
	}
}