.home-about {
	.block-about {
		cursor           : pointer;
		position         : relative;
		color            : $main-color-3;
		height           : 420px;
		overflow         : hidden;
		background-image : url(../img/about/bg-about.png);
		background-size  : cover;
		background-repeat: no-repeat;
		border-bottom    : 1px solid #323637;

		h2 {
			position  : absolute;
			top       : 50%;
			transform : translateY(-50%);
			text-align: right;

			&.text-left {
				left: 130px;

			}

			&.text-right {
				right: 130px;
			}

			span {
				color: $main-color-1;
			}
		}
	}
}