

ul {
	list-style: none;
	padding   : 0;
}

.bg-main {
	background: $main-color-2;
}

::-webkit-scrollbar-track {
	box-shadow      : inset 0 0 6px rgba(255, 255, 255, 0);
	background-color: $main-color-2;
}

::-webkit-scrollbar {
	width           : 5px;
	height          : 5px;
	background-color: $main-color-2;
}

::-webkit-scrollbar-thumb {
	border-radius   : 2.5px;
	box-shadow      : inset 0 0 6px rgba(255, 255, 255, 0);
	background-color: $main-color-1;
}

.icon {
	cursor: pointer;
	width : 38px;
	height: 38px;
}