section,
main,
footer {
	width       : 100%;
	margin-right: auto;
	margin-left : auto;

	@media (min-width: 768px) {
		max-width: 740px;
	}

	@media (min-width: 1025px) {
		max-width: 990px;
	}

	@media (min-width: 1200px) {
		max-width: 1140px;
	}

	@media (min-width: 1600px) {
		max-width: 1440px;
	}
}

ul {
	list-style: none;
	padding   : 0;
}

.bg-main {
	background: $main-color-2;
}

.hiden {
	display: none !important;
}

.tab-container {
	.tab-title {
		.item {
			cursor: pointer;
		}
	}

	.tab-content {
		.content {
			display   : none;
			opacity   : 0;
			transition: all .3s cubic-bezier(.2, .5, .5, .8);

			&.show {
				opacity: 1;
			}
		}
	}
}

#sub-information {
	position  : fixed;
	background: $main-color-2;
	width     : 30%;
	height    : 100vh;
	top       : 0;
	right     : 235px;
	transition: .3s all ease-in-out;

	figure {
		display    : flex;
		align-items: center;

		.box-img {
			position     : relative;
			overflow     : hidden;
			width        : 28px;
			height       : 28px;
			border-radius: 50%;
			margin-right : 10px;

			&:after {
				content      : '';
				position     : absolute;
				width        : 100%;
				height       : 100%;
				top          : 0;
				left         : 0;
				border       : 2px solid $main-color-1;
				border-radius: 50%;
			}
		}

		figcaption {
			h5 {
				font-family   : 'Anton', sans-serif;
				font-weight   : 400;
				color         : $main-color-3;
				font-size     : 20px;
				letter-spacing: 2px;
			}
		}
	}
}

::-webkit-scrollbar-track {
	box-shadow      : inset 0 0 6px rgba(255, 255, 255, 0);
	background-color: $main-color-2;
}

::-webkit-scrollbar {
	width           : 5px;
	height          : 5px;
	background-color: $main-color-2;
}

::-webkit-scrollbar-thumb {
	border-radius   : 2.5px;
	box-shadow      : inset 0 0 6px rgba(255, 255, 255, 0);
	background-color: $main-color-1;
}

.icon {
	cursor: pointer;
	width : 38px;
	height: 38px;
}

.btn {
	display       : block;
	font-family   : Anton, sans-serif;
	background    : $main-color-1;
	color         : $main-color-2;
	text-align    : center;
	border        : none;
	border-radius : 20px;
	width         : 100%;
	line-height   : 50px;
	letter-spacing: 5px;
}