#chooseImgFile,.chooseImgFile{
	height: 250px;
	width: 250px;
	position: absolute;
	top: 0;
	opacity: 0;
	cursor: pointer;
}
img#imgFile{cursor: pointer;max-width:100px;max-height:100px;}
img.imgFile{height:auto;max-width: 100%;}
.img-fluid{
	width:100%;
	height:auto;
}
.category-item-wrap:hover{
	background:#d6f5f3;
}
tr:hover{
	background:rgb(243, 243, 243);
}