section.hot-event.bg-main
	.container
		.row
			.col-lg-6
			.col-lg-6
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ab totam nisi repellendus, dolor pariatur asperiores deserunt labore expedita, ullam sed itaque consequatur voluptate adipisci quasi. Fugit corporis animi est?