section.hot-event.bg-main
	.container
		.hotEvent-wrapper
			.swpier-container.slider-hotEvent
				.swiper-wrapper
					.swiper-slide
						figure
							img.ofc(src="./img/hot-item/1.png", alt="", srcset="")
							figcaption
								.name-event
									h3 Sky tour 2019
									h5 Nhận ngay ưu đãi hấp dẫn khi mua vé Sky Tour 2019 trên A.Event
								.decription-event
									.box-countdown
										.block
											#hours 0
											span Giờ
										.block
											#minutes 0
											span Phút
										.block
											#seconds 0
											span Giây
										.block
											span 9.9.2019
									p.limit-line Sky Tour đánh dấu cột mốc mới trong hành trình âm nhạc của Sơn Tùng M-TP trong năm 2019, nối tiếp dự án "Hãy Trao Cho Anh". Nam ca sĩ từng biểu diễn nhiều sân khấu, tổ chức các liveshow bùng nổ nhưng đằng sau mỗi sự bùng cháy đó, anh đều mong muốn mình làm được nhiều hơn thế nữa.
								a.right(href="#") Tham Gia
					.swiper-slide
						figure
							figcaption
								.name-event
									h3 Shark Tank
									h5 Cùng tận hưởng trực tiếp các thương vụ vô cùng kịch tính
								.decription-event
									.box-countdown
										.block
											#hours 0
											span Giờ
										.block
											#minutes 0
											span Phút
										.block
											#seconds 0
											span Giây
										.block
											span 9.9.2019
									p.limit-line Chương trình truyền hình đầu tư thực tế “Shark Tank Việt Nam - Thương vụ bạc tỷ” đang thu hút sự chú ý từ nhiều bạn trẻ, đặc biệt là các công ty khởi nghiệp (start-up), trong không khí quốc gia cùng khởi nghiệp.
									a(href="#") Tham Gia
							img.ofc(src="./img/hot-item/2.png", alt="", srcset="")
				.swiper-pagination
				.swiper-button-next.icon
				.swiper-button-prev.icon